<div class="content-heading">{{titulo}}</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default animated fadeInLeft">
            <div class="panel-heading">Ingrese los datos de su nuevo producto</div>
            <div class="panel-body">
                <form class="form-horizontal" #formProducto='ngForm' (ngSubmit)="onSubmit()">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-id-1">Nombre</label>
                            <div class="col-sm-10">
                                <input #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control" id="input-id-1" type="text" required/>
                                <span *ngIf="!nombre.valid && nombre.touched" class="text-danger">El nombre es obligatorio</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10">
                                <input #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" type="text" required/>
                                <span *ngIf="!descripcion.valid && descripcion.touched" class="text-danger">La descripción es obligatorio</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Precio</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control" type="text" required pattern="[0-9]+"
                                    />
                                    <span class="input-group-addon">.00</span>
                                </div>
                                <span *ngIf="!precio.valid && precio.touched" class="text-danger">El precio no es correcto</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Imagen</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" (change)="fileChangeEvent($event)" />
                            </div>
                        </div>
                    </fieldset>
                    <!-- <fieldset>
                <div class="col-md-4">
                    <label for="image-input" class="file-upload">
                        <button class="btn btn-default btn-block">Seleccione Imagen</button>
                        <input name="imagen" id="image-input" type="file" (change)="fileChangeListener($event)">
                    </label>
                    <p class="pv">Tipo de Recorte:</p>
                    <div class="btn-group btn-group-justified mb">
                        <label class="btn btn-default" (click)="setRoundedMethod(false)" [class.active]="!cropperSettings.rounded">Cuadrada</label>
                        <label class="btn btn-default" (click)="setRoundedMethod(true)" [class.active]="cropperSettings.rounded">Circular</label>
                    </div>
                    <div class="result" *ngIf="data1.image">
                        <p class="pv">Cropped image</p>
                        <img class="center-block img-responsive" [class.img-circle]="cropperSettings.rounded" [src]="data1.image" [width]="cropperSettings.croppedWidth"
                            [height]="cropperSettings.croppedHeight">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel-body">
                        <img-cropper #cropper [image]="data1" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
                    </div>
                </div>
            </fieldset> -->
                    <fieldset>
                        <button type="submit" class="btn btn-info" [disabled]="!formProducto.form.valid">
                            <em class="icon-note"></em> Guardar Producto</button>
                        <button routerLink="/products/list" class="btn btn-warning">
                            <em class="icon-action-undo"></em> Volver</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel animated fadeInLeft">
            <div class="panel-heading">
                Imagen del Producto
            </div>
            <div class="panel-body">
                <img src="{{url}}uploads/{{imagen_seleccionada}}" style="width:100%;" />
            </div>
        </div>
    </div>
</div>