<div class="home-container animated fadeInLeft">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="text-center">
                    <img alt="Angular" class="img-responsive center-block home-logo" src="assets/img/angular.svg" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8 home-text">
                <h1>{{titulo}}</h1>
                <p>Gestiona tus productos con esta app desarrollada en
                    <strong>Angular 5</strong>
                    <br>
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" routerLink="/products/list">Ver Productos</a>
                    <a class="btn btn-success btn-lg" routerLink="/products/edit">Añadir Productos</a>
                </p>
            </div>
        </div>
    </div>
</div>