<div class="content-heading">{{titulo}}</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel animated fadeInLeft">
            <div class="panel-heading">
                <a routerLink="/products/edit" class="btn btn-primary">
                    <em class="icon-plus"></em>&nbsp;Añadir Producto</a>
            </div>
            <div class="panel-body">
                <div class="table-responsive b0">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width:80px">
                                    <strong>Código</strong>
                                </th>
                                <th>
                                    <strong>Nombre</strong>
                                </th>
                                <th>
                                    <strong>Precio</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Estado</strong>
                                </th>
                                <th class="text-center">
                                    <strong>Opciones</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let producto of productos">
                                <td>{{producto.id}}</td>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.precio | currency: '$'}}</td>
                                <td class="text-center">
                                    <span class="label label-primary">Activo</span>
                                </td>
                                <td class="text-center">
                                    <button (click)="changeImage(producto.imagen)" class="btn btn-sm btn-info" type="button">
                                        <em class="icon-magnifier"></em>
                                    </button>
                                    <button routerLink="/products/edit/{{producto.id}}" class="btn btn-sm btn-warning" type="button">
                                        <em class="icon-note"></em>
                                    </button>
                                    <button (click)="delete(producto.id)" class="btn btn-sm btn-danger" type="button">
                                        <em class="icon-trash"></em>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel animated fadeInLeft">
            <div class="panel-heading">
                Imagen del Producto
            </div>
            <div class="panel-body">
                <img src="http://localhost:8080/productos_full_a5/src/app/API/uploads/{{imagen_seleccionada}}" style="width:100%;"/>
            </div>
        </div>
    </div>
</div>